/*#header {
    width:100%;
    background:#eee;
    position:fixed;
    top:0;
    display:flex;
    justify-content: space-between;
    z-index:10;
   
  }

  ul {
    list-style-type:none;
  }
  a {
    text-decoration:none;
    color:black;
    font-weight: 400;
  }
  #header-img {
    display:block;
    max-width:300px;
    height:100%;
  }
  body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;
    align-items: center;
    background:#eee;
  }
  #nav-bar ul {
    display:flex;
    justify-content:space-between;
    width:35vw;
  }
   h2 {
    margin-top: 50px;
    word-wrap: break-word;
  }
  @media (max-width: 890px){
    body {
      display:flex;
      flex-direction:column;
      flex-wrap: no-wrap;
      
    }
    #header {
    width:100%;
    position:fixed;
   
    display:flex;
    min-height: 75px;
    justify-content: space-between;
      align-items:center;
     
  }
    #nav-bar ul {
    display:flex;
      flex-direction:column;
    justify-content:space-between;
    width:35vw;
      align-items:center;
      text-align:center;
    
  }
    @media (max-width: 770px) {
    body {
      display:flex;
      flex-direction:column;
      flex-wrap: no-wrap;
      
    }
    #header {
    width:100%;
    position:fixed;
    top:0;
    display:flex;
    
    justify-content: space-between;
      align-items:center;
     
  }
    #nav-bar ul {
    display:flex;
      flex-direction:column;
    justify-content:space-between;
    width:35vw;
      align-items:center;
      text-align:center;
    
      }
      
    }
    
    
    @media (max-width:550px) {
      body{
        display:flex;
        flex-direction:column;
        
      }
      #header {
        display:flex;
        flex-direction:column;
        height: 30vh;
        height:20px;
        background:red;
        border:2px solid green;
      }
     
    }*/
    